<%= form_for ([@series, @series.seasons.build]) do |f| %>
<fieldset>
  <% if @series.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@series.errors.count, "error") %> prohibited this series from being saved:</h2>
      <ul>
      <% @series.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= f.label :seq %><br />
    <%= f.text_field :seq %>
  </div>
  <div class="field">
    <%= f.label :episodes_count %><br />
    <%= f.text_field :episodes_count %>
  </div>
  <div class="field">
    <%= f.label :is_closed %><br />
    <%= f.check_box :is_closed %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
</fieldset>
<% end %>
