<h1>Listing series</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Name2</th>
    <th>Des</th>
    <th>Ref</th>
    <th>Is closed</th>
    <th>Create by</th>
    <th>Update by</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @series.each do |series| %>
  <tr>
    <td><%= series.name %></td>
    <td><%= series.name2 %></td>
    <td><%= series.des %></td>
    <td><%= series.ref %></td>
    <td><%= series.is_closed %></td>
    <td><%= series.create_by %></td>
    <td><%= series.update_by %></td>
    <td><%= link_to 'Show', series %></td>
    <td><%= link_to 'Edit', edit_series_path(series) %></td>
    <td><%= link_to 'Destroy', series, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Series', new_series_path %>
