# coding: utf-8
<!DOCTYPE html>
<html>
<head>
  <title>Fancyoung</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <link rel="shortcut icon" href="/favicon.ico">
  <link rel="apple-touch-icon" href="/apple-touch-icon.png">

  <%= stylesheet_link_tag "scaffold", "style" %>
  <%= stylesheet_link_tag "http://github.com/joshuaclayton/blueprint-css/raw/master/blueprint/screen.css", :media=>"screen, projection" %>
  <%= stylesheet_link_tag "http://github.com/joshuaclayton/blueprint-css/raw/master/blueprint/print.css", :media=>"print" %>
  <%= stylesheet_link_tag "handheld", :media=>"handheld" %>
  <!--[if lt IE 8]>
    <%= stylesheet_link_tag "http://github.com/joshuaclayton/blueprint-css/raw/master/blueprint/ie.css", :media=>"screen, projection" %>
  <![endif]-->

  <%= stylesheet_link_tag "all" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>
  <div id="container" class="container showgrid_">
    <div>
      <img id="edge-badge" alt="edge-badge" src="/images/edge_badge.png">
    </div>
    <div id="nav">
      <ul>
      <li><%= link_to "首页", root_path %></li>
      <li><%= link_to "剧集", series_index_path %></li>
      <li><%= link_to "我的空间", root_path %></li>
      <li><%= link_to "帐号", account_path %></li>
      <li><%= link_to "系统", account_list_path %></li>
      </ul>
    </div>
    <div id="header">
      <div class="span-12">
        <a href="/"><h1>连载ING</h1></a>
      </div>
      <div class="span-9 append-3 last" style="text-align:right;">
        <%= pluralize User.logged_in.count, "位" %>用户在线
        <% if current_user %>
          <%= link_to "帐号(#{current_user[:login]})", account_path %>
          <%= link_to "退出", logout_path %>
        <% else %>
          <%= link_to "注册", new_account_path %>
          <%= link_to "登录", login_path %>
        <% end %>
      </div>
      <hr />
    </div>
    <div id="main">
      <div class="span-6">
        <div class="block">
          你喜欢看美剧，小说，动漫么？<br />
          到这里来记录你的进度吧：）
        </div>
        <div class="block">
          <ul>
            <li>XXX看了《超市特工》第四季第10集</li>
            <li>XXX看了《海贼王》漫画608话《海底乐园》</li>
            <li>XXX看了《海贼王》动画480话</li>
            <li>XXX看了。。。</li>
          </ul>
        </div>
        <div class="block">
          <ul>
            <li>《超市特工》S4E11将于2011年1月18日播出</li>
            <li>XXX太监了</li>
            <li>《斗破苍穹》更新1140章</li>
          </ul>
        </div>
        <div class="block">
          <ul>
             <li>XXX说：这集太扯了</li>
             <li>XXX说：快点更新啊</li>
             <li>XXX说：太搞笑了</li>
           </ul>
        </div>
      </div>
      <div class="span-18 last">
      <!-- <div class="success">Success</div> -->
      <!-- <div class="error">Error</div> -->
      <!-- <div class="notice">Notice</div> -->
      <% if flash[:success] %>
        <div class="success"><%= flash[:success] %></div>
      <% end %>
      <% if flash[:error] %>
        <div class="error"><%= flash[:error] %></div>
      <% end %>
      <% if flash[:notice] %>
        <div class="notice"><%= flash[:notice] %></div>
      <% end %>
      <%= yield %>
      </div>
    </div>
    <div id="footer" style="text-align:center">
      <hr />
      <a href="http://www.fancyoung.com">Fancyoung</a>
      <br />
      Copyright 2011
    </div>
  </div>
</body>
</html>
